.expenses-container {
  margin-top: 20px;
}

.expenses-table {
  width: 100%;
  border-collapse: collapse;
}

.expenses-table th,
.expenses-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.expenses-table th {
  background-color: #f9f9f9;
}

.expenses-table td button {
  padding: 4px 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.expenses-table td button + button {
  margin-left: 4px;
}
.download-button {
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
}
