.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-container h2 {
  margin-bottom: 20px;
}

.signup-input-group {
  margin-bottom: 10px;
}

.signup-input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-button {
  padding: 10px 20px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #218838;
}
.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signin-container h2 {
  margin-bottom: 20px;
}

.signin-input-group {
  margin-bottom: 10px;
}

.signin-input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signin-button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.signin-button:hover {
  background-color: #0069d9;
}
.forgot-password-link {
  margin-top: 10px;
  cursor: pointer;
}

.forgot-password-form {
  margin-top: 20px;
}

.forgot-password-form input {
  margin-bottom: 10px;
}

.forgot-password-form button {
  padding: 6px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
